.EditUserContainer {
  position: fixed;
  z-index: 500;
  background-color: #e2e4e6;
  width: 400px;
  border: 1px solid #707070;
  top: 100px;
  right: calc(50% - 200px);
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  border-radius: 25px;
  padding: 30px 50px 0px 50px;
  font-size: 14px;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.EditUserPhoto {
  display: block;
  border-radius: 10px;
  margin: 0 auto;
}

.EditUserPencil {
  display: block;
  position: absolute;
  margin: auto;
  bottom: -10px;
  left: 195px;
  cursor: pointer;
}

.EditUserContent {
  width: 100%;
  margin: 10px 0px 20px 0px;
  background-color: #ffffff;
  border-radius: 15px;
  text-align: left;
  box-sizing: border-box;
}

.EditUserBackIcon {
  position: absolute;
  top: 20px;
  left: 25px;
  cursor: pointer;
}

.EditUserExitIcon {
  position: absolute;
  top: 20px;
  right: 25px;
  cursor: pointer;
}
