.LogInPanelContainer {
    position: fixed;
    height: calc(100vh - 100px);
    z-index: 500;
    background-color: #E2E4E6;
    padding: 70px 40px 20px 40px;
    margin: 0px;
    top: 10%;
    right: calc(50% - 230px);
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    width: 460px;
    border-radius: 30px; 
    overflow: auto;
}

.LogInPanelContainer::-webkit-scrollbar {
    width: 0px;
}

.LogInPanelSwitchButtonUnActive {
    color: #959DAD;
}

.LogInPanelSwitchButtonActive {
    color: red;
}

.LogInPanelSwitchButtonRight {
    width: 50%;
    float: left;
    height: 44px;
    line-height: 44px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 0px 15px 15px 0;
    border-left: 1px solid #E2E4E6;
    box-shadow: 3px 3px #ddd;
}

.LogInPanelSwitchButtonLeft {
    width: 50%;
    float: left;
    height: 44px;
    line-height: 44px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 15px 0px 0px 15px;
    box-shadow: 3px 3px #ddd;
}

.LogInPanelBackIcon {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;

}