.Backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 400;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0, 0.7);
}

.Backdrop_full{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 200;
    left: 0;
    top: 0;
}