.legendContainer {
  position: fixed;
  z-index: 500;
  background-color: #e2e4e6;
  width: 400px;
  border: 1px solid #707070;
  top: 100px;
  right: calc(50% - 200px);
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  border-radius: 25px;
  padding: 50px 50px 50px 80px;
  font-size: 14px;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.legendBackIcon {
  position: absolute;
  top: 20px;
  left: 25px;
  cursor: pointer;
}

.legendDotArea {
  text-align: left;
  font-weight: bold;
  font-size: 18px;
}
